<div class="content-step">
  <section class="steps-inner">
    <h3 class="steps-heading-sub">
      How it works
    </h3>
    <h4 class="steps-heading-main">
      Ease as that!
    </h4>
    <div class="steps-wrapper">
      <div class="step-wrapper">
        <div class="step-wrapper__icon-box">
          <img class="step-wrapper__icon" src="./assets/images/users/1_search.png" alt="your location">
        </div>
        <span class="step-wrapper__number">1.</span>
        <span class="step-wrapper__headline">Enter your location</span>
        <p class="step-wrapper__paragraph">Enter your street address or let us find your location.</p>
      </div>
      <span class="step-seperator">
        <svg class="step-seperator__icon">
          <use xlink:href="./assets/images/sprite.svg#icon-arrow_forward_ios"></use>
        </svg>
      </span>
      <div class="step-wrapper">
        <div class="step-wrapper__icon-box">
          <img class="step-wrapper__icon" src="./assets/images/users/2_meal.png" alt="your location">
        </div>
        <span class="step-wrapper__number">2.</span>
        <span class="step-wrapper__headline">Choose your restaurant and food</span>
        <p class="step-wrapper__paragraph">What do you fancy? Browse through countless menus and reviews.</p>
      </div>
      <span class="step-seperator">
        <svg class="step-seperator__icon">
          <use xlink:href="./assets/images/sprite.svg#icon-arrow_forward_ios"></use>
        </svg>
      </span>
      <div class="step-wrapper">
        <div class="step-wrapper__icon-box">
          <img class="step-wrapper__icon" src="./assets/images/users/3_delivery.png" alt="your location">
        </div>
        <span class="step-wrapper__number">3.</span>
        <span class="step-wrapper__headline">Pay and get your food delivered</span>
        <p class="step-wrapper__paragraph">Pay cash or online with Creditcard, Klarna, PayPal, Bitcoin. Bon appetit!</p>
      </div>

    </div>
  </section>
</div>
<div class="content-usp"></div>

