.container {
  padding: 2rem 2rem;
}

.heading {
  &__1 {
    font-family: inherit;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--color-grey-dark);
    padding-bottom: 1rem;
  }
  &__2 {
    font-family: inherit;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--color-grey-light);
    padding-bottom: 1rem;
  }
  &__3 {
    font-family: inherit;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--color-grey-light);
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
}

.hr-box {
  padding-bottom: 1rem;
}

.form {

  &__container {

  }

  &__group-main {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    justify-content: space-between;
  }

  &__group {
    flex: 0 0 45%;
    padding: 0 1rem;
  }

  &__input {
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--color-grey-light);
    width: 100%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark), .1);
      border: 1px solid var(--color-grey-dark);
    }
  }

  &__label {
    font-size: 1.3rem;
    font-family: inherit;
    color: var(--color-grey-dark);
    margin-bottom: 1rem;
    display: block;
  }

  &__select {

  }

  &__textarea {
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--color-grey-light);
    // width: 90%;
    display: block;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark), .1);
      border: 1px solid var(--color-grey-dark);
    }
  }

  &__button-box {
    display: flex;
  }

  &__button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--color-white);
    background-color: var(--color-blue-1);
    padding: 1rem 8rem;
    margin: 2rem auto;

    &:focus {
        outline: none;
    }

    &:hover {
      background-color: var(--color-blue-2);
    }

    &:disabled {
      background-color: rgba(21, 114, 245, 0.445);
    }
  }


}

select {
  font-family: inherit;
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 5px;
  border-color: var(--color-grey-light);

}

input.ng-invalid.ng-touched {
  border: 1px solid var(--color-red-primary);
}
