<div class="container">
  <div class="heading">
    <div class="heading__1">Ready to eat?</div>
    <div class="heading__2">Where do you want your oder to be delivered?</div>
  </div>
  <div class="hr-box">
    <hr class="hr">
  </div>
  <div class="form__container">
    <form (ngSubmit) = "onOrderSubmit()" [formGroup]="orderForm" class="form">
      <div class="form__group-main">
        <div class="form__group">
          <label for="address" class="form__label">Address: *</label>
          <input type="text" class="form__input" name="address" formControlName="address">
        </div>
        <div class="form__group">
          <label for="town" class="form__label">Town: *</label>
          <input type="text" class="form__input" name="town" formControlName="town">
        </div>
      </div>
      <div class="form__group">
        <label for="floor" class="form__label">Floor:</label>
        <input type="number" class="form__input" style="width: 44%;" name="floor" formControlName="floor">
      </div>
      <!-- Second Area -->
      <div class="heading__3">How can we reach you?</div>
      <div class="hr-box">
        <hr class="hr">
      </div>
      <!-- Horizontal Line -->
      <div class="form__group-main">
        <div class="form__group">
          <label for="customerName" class="form__label">Name: *</label>
          <input type="text" class="form__input" name="customerName" formControlName="customerName">
        </div>
        <div class="form__group">
          <label for="email" class="form__label">Email: *</label>
          <input type="email" class="form__input" name="email" formControlName="email">
        </div>
      </div>

      <div class="form__group-main">
        <div class="form__group">
          <label for="contactNumber" class="form__label">Phone Number: *</label>
          <input type="text" class="form__input" formControlName="contactNumber">
        </div>
        <div class="form__group">
          <label for="companyName" class="form__label">Company Name: </label>
          <input type="text" class="form__input" name="companyName" formControlName="companyName">
        </div>
      </div>
      <!-- Third Area -->
      <div class="heading__3">When would you like your food?</div>
      <div class="hr-box">
        <hr class="hr">
      </div>
      <!-- Horizontal Line -->
      <div class="form__group-main">
        <div class="form__group">
          <label for="deliveryTime" class="form__label">Delivery Time: *</label>
          <select class="form__select" name="deliveryTime" id="deliveryTime" formControlName="deliveryTime">
            <option value="as soon as possible">as soon as possible</option>
            <option value="13.00">13:00</option>
            <option value="13:30">13:00</option>
            <option value="14.00">14.00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
          </select>
        </div>
        <div class="form__group">
          <label for="remarks" class="form__label">Remarks: </label>
          <textarea name="remarks" class="form__textarea" id="remarks" cols="50" rows="5" formControlName="remarks"></textarea>
        </div>
      </div>
      <div class="hr-box">
        <hr class="hr">
      </div>
      <div class="form__button-box">
        <button class="form__button" [disabled]="!orderForm.valid">Pay & Order</button>
      </div>
    </form>
  </div>
</div>
