.restaurants {

  &__header {
    max-height: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, rgba(25, 27, 25, 0.384), rgba(32, 32, 32, 0.322)) , url('../../../assets/images/users/pizza_light_desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

  };

  &__header > p {
    font-size: 3.6rem;
    font-weight: 800;
    color: var(--color-white);
  }

  &__category {
    width: 100vw;
    background-color: var(--color-orange-light);
  };

  &__list {
    max-width: 90rem;
    margin: 0 auto;
  };
}

.category {
  &__nav {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.8rem;

  }

  &__item {

  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light);
    text-decoration: none;
    display: block;
    padding: 1.6rem 3rem;
  }

  &__link:hover {
    color: var(--color-red-primary);
  }
}


/////////////////////////////////////////
////// Admin-Restaurants-List-Area //////

.admin-restaurant-button-box {
  width: 80rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.add-restaurant-btn {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.8rem;
    color: var(--color-white);
    background-color: var(--color-blue-1);
    padding: 1rem;

    &:focus {
        outline: none;
    }

    &:hover {
      background-color: var(--color-blue-2);
    }
}

.admin-restaurant{
  &__container {
    display: flex;
    width: 80rem;
    background-color: var(--color-orange-light);
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-grey-light);
  }

  &__details {
    font-size: 1.4rem;
    color: var(--color-grey-dark);
    font-weight: 200;
  }

  &__index {
    padding: 1rem;
  }

  &__name {
    padding: 1rem;
  }

  &__function {
    display: flex;
    align-items: center;
  }
}

.function {

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 1rem;
  }
}
