<ul class="side-nav">
    <li class="side-nav__item side-nav__item--active">
        <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/images/sprite.svg#icon-dashboard"></use>
            </svg>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="side-nav__item">
        <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/images/sprite.svg#icon-delivery_dining"></use>
            </svg>
            <span>Orders</span>
        </a>
    </li>

    <li class="side-nav__item">
        <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/images/sprite.svg#icon-fastfood"></use>
            </svg>
            <span>Foods</span>
        </a>
    </li>
</ul>
