<div class="header-top">
  <div class="header">
    <h1 class="header__title">
      Time to order food
    </h1>
    <h2 class="header__subtitle">
      Find restaurants in your area
    </h2>
    <div class="header__search-panel">
      <form name="deliveryareaform" class="form-location" (ngSubmit)="onSubmit()" #locationFormEl="ngForm">
        <svg class="form-location__icon">
          <use xlink:href="./assets/images/sprite.svg#icon-location_on"></use>
        </svg>
        <input class="form-location__input" type="text" ngModel name="location" placeholder="Address, i.e. Matara">
        <button class="form-location__button" type="submit">Show</button>
      </form>
    </div>
  </div>
</div>

