.formProduct {

  &__group-style {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__group {
    flex: 0 0 45%;
    padding: 0 1rem;
  }

  &__input {
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--color-grey-light);
    width: 100%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark), .1);
      border: 1px solid var(--color-grey-dark);
    }
  }

  &__label {
    font-size: 1.3rem;
    font-family: inherit;
    color: var(--color-grey-dark);
    margin-bottom: 1rem;
    display: block;
  }

  &__textarea {
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--color-grey-light);
    width: 90%;
    display: block;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark), .1);
      border: 1px solid var(--color-grey-dark);
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.8rem;
    color: var(--color-white);
    background-color: var(--color-blue-1);
    padding: 1rem 2rem;
    margin-left: 2rem;

    &:focus {
        outline: none;
    }

    &:hover {
      background-color: var(--color-blue-2);
    }

    &:disabled {
      background-color: rgba(21, 114, 245, 0.445);
    }
  }

}

input.ng-invalid.ng-touched {
  border: 1px solid var(--color-red-primary);
}

select {
  font-family: inherit;
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 5px;
  border-color: var(--color-grey-light);

}

textarea.ng-invalid.ng-touched {
  border: 1px solid var(--color-red-primary);
}

#price {
  width: 40%;
  margin-bottom: 2rem;
}
